@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.top-navbar {
  display: flex;
  background-color: #333333;
  font-family: 'Roboto', sans-serif;
}

.title {
  color: white;
  margin: 10px 0 10px 0;
  font-size: 30px;
}

.searchbar {
  padding: 0;
}

.bar {
  height: 40px;
  width: 400px;
}

.logo {
  width: 300px;
}

.bottom-navbar {
  display: flex;
  background-color: #7FC37E;
  padding: 10px 0 10px 0;
  font-family: 'Roboto', sans-serif;
  color: #FEFEE2;
}

.bottom-navbar > p {
  font-weight: bold;
  margin-bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 780px) {
  .top-navbar {
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    margin: 20px 0px 10px 0;
  }

  .searchbar {
    margin: 10px 0px 20px 0;
    width: 80%;
  }
  
  .bar {
    width: 100%;
  }

  .bottom-navbar {
    flex-direction: column;
    align-items: center;  
  }

  .bottom-navbar > p {
    padding: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 780px) {
  .top-navbar {
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px
  }

  .bottom-navbar {
    justify-content: space-around;
  }
}