@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
}

.title {
  /* text-align: center; */
  color: white;
  padding: 10px 0 5px 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.searchbar {
  padding: 10px 10px 10px 0;
}

.bar {
  padding: 12px;
  width: 400px;
}

.logo {
  width: 300px;
}