name: Build and deploy Dockerized app to Fly.io

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      

      - name: Set up Java version
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      - name: Build with Maven
        run: cd backend && mvn clean install

      # Create a Dockerfile in the /backend directory with LF line terminators
      - name: Create Dockerfile
        run: |
          echo -e "FROM openjdk:17\nWORKDIR /app\nCOPY target/greenwave-0.0.1-SNAPSHOT.jar /app/\nEXPOSE 8080\nCMD [\"java\", \"-jar\", \"greenwave-0.0.1-SNAPSHOT.jar\"]" > backend/Dockerfile

      - name: Dockerize the JAR app
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          cd backend
          docker build -t gwave .
          docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
          docker tag gwave "$DOCKER_USERNAME/greenwave:latest"
          docker push "$DOCKER_USERNAME/greenwave:latest"
          docker logout
        
